@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

body {
  background-color: rgb(17, 255, 176);
}
.main {
  width: auto;
}
.main-heading {
  text-align: center;
  margin: 5rem auto;
  font-size: 72px;
  line-height: 50px;
  font-family: "Playfair Display SC", serif;

  text-shadow: 5px 5px 10px rgb(44, 44, 44);
}
.main-img {
  height: 68vh;
  display: flex;
  justify-content: center;
}
.main-img-banner {
  max-width: 80vw;

  max-height: 100%;
}
.about-celeb {
  text-align: center;
}
.about-para {
  font-weight: bold;
  font-size: x-large;
  margin-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: center;
  line-height: 23.26px;
}
.points-area {
  /* display: flex; */
  background-color: rgba(12, 176, 121, 0.634);
  text-shadow: 5px 5px 10px rgb(255, 255, 255);
  box-shadow: 15px 15px 20px rgba(246, 255, 0, 0.687);
  padding: 50px;
  margin: 100px;
}

.points-area ul li {
  list-style-type: none;
  font-size: 27px;
  margin-top: 1.52rem;
  /* line-height: 2rem; */
}
/* .useless-li {
    margin-top: 2rem;
} */
.points-heading {
  font-size: x-large;
  color: white;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  /* color: ; */
}
.points-area ul li::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  content: "";
  vertical-align: middle;
  background-image: url("./hand-pointing.png");
  background-size: 100% 100%;
}
.footer-sec {
    /* font-weight: bold; */
    text-align: center;
    font-size: x-large;
}
.footer-sec span {
    font-weight: bold;
}
.spans {
    font-weight: bold;
}